/// carousel.less -- Styling for the carousel component


#carousel() {
  animation-duration: 0.5s;
  hidden-slide-opacity: 0.2;
  slide-width: #media[mobile-width];
}

.ethlance-carousel {
  position: relative;
  display: grid;

  > .slide-listing {
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    height: 300px;
    width: 100%;
    overflow: scroll;

    @media #media[tablet-query] {
      margin: 0 3em;
    }

    > .slide-element {
      display: flex;
      z-index: 100;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  > .button-listing {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;

    //TODO: replace mobile queries with a mobile button listing.

    > .back-button {
      position: relative;
      left: calc(25% - 24px);

      @media #media[tablet-query] {
        left: 1.5em;
      }
    }

    > .forward-button {
      position: relative;
      right: calc(25% - 24px);

      @media #media[tablet-query] {
        right: 1.5em;
      }
    }
  }
}

.feedback-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: #carousel[slide-width];
  height: 100%;
  background-color: #color[dark-blue];
  color: white;
  border-radius: 1em;

  > .profile-image {
    margin: 0.5em 0;
  }

  > .rating {
    margin: 0.5em 0;
  }

  > .message {
    margin: 0.7em 0;
  }

  > .name {
    margin: 0.5em 0;
    font-weight: 700;
    font-size: 1.1em;
  }
}
